/* * {
    outline: 1px solid red !important;
  } */

body {
    background: url(../images/concrete_seamless.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
}

.logo {
    font-size: 30px;
    color: white;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: 60px;
}

.navbar-light .logo {
    color: white;
}

.navbar-nav a {
    font-weight: 500;
    font-size: 18px;
}

header {
    border-bottom: 2px solid #ccc;
}

.main_title {
color: #4aaaa5;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 700;
line-height: 60px;
height: 30"
border-bottom: 2px solid #ddd;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}


.img_with_banner {
    position: relative;
    float: left;
    width: 275px;
    margin: 10px;
}

.img_with_banner h4  {
    position: absolute;
    top: 75%;
    width: 270px;
    height: 37px;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff; 
    line-height: 38px;
    z-index: 100;
}

/* footer */
footer {
    padding: 30px 0;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
}

/* contact page */
#message {
    height: 200px;
}